      {% load dict_extras %}
     {% load static %}
     <!-- header top start -->
            <div class="header-top-area bg-gray text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5">
                            <div class="header-call-action">
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                    info@galiocommerce.com
                                </a>
                                <a href="#">
                                    <i class="fa fa-phone"></i>
                                    +254 112 284 093
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <div class="header-top-right float-md-right float-none">
                                <nav>
                                    <ul>
                                        <li>
                                            <div class="dropdown header-top-dropdown">
                                                <a class="dropdown-toggle" id="myaccount" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    my account
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                                    <a class="dropdown-item" href="#">my account</a>
                                                    <a class="dropdown-item" href="{% url 'login'%}"> login</a>
                                                    <a class="dropdown-item" href="{% url 'register'%}">register</a>
                                                     <a class="dropdown-item" href="{% url 'logout'%}">logout</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">my wishlist</a>
                                        </li>
                                        <li>
                                            <a href="#">my cart</a>
                                        </li>
                                        <li>
                                            <a href="#">checkout</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header top end -->

            <!-- header middle start -->
            <div class="header-middle-area pt-20 pb-20">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand-logo">
                                <a href="{% url 'index'%}">
                                    <img src="{% static 'assets/img/logo/logo.png'%}" alt="brand logo">
                                </a>
                            </div>
                        </div> <!-- end logo area -->
                        <div class="col-lg-9">
                            <div class="header-middle-right">
                                <div class="header-middle-shipping mb-20">
                                    <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>Working time</h5>
                                            <span>Mon- Sun: 8.00 - 18.00</span>
                                        </div>
                                    </div> <!-- end single shipping -->
                                    <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>free shipping</h5>
                                            <span>On order over KES 4999</span>
                                        </div>
                                    </div> <!-- end single shipping -->
                                    <div class="single-block-shipping">
                                        <div class="shipping-icon">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="shipping-content">
                                            <h5>money back 100%</h5>
                                            <span>Within 30 Days after delivery</span>
                                        </div>
                                    </div> <!-- end single shipping -->
                                </div>
                                <div class="header-middle-block">
                                    <div class="header-middle-searchbox">
                                        <form id="search-form" method="get" action="{% url 'search' %}" class="search-form">
                                            <div class="search-input-container">
                                                <input type="search" 
                                                    id="search-input" 
                                                    name="q" 
                                                    placeholder="Search for products..." 
                                                    value="{{ request.GET.q }}"
                                                    autocomplete="off"
                                                    class="search-input">
                                                <button type="submit" class="search-btn">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                        {% comment %} <input type="text" placeholder="Search...">
                                        <button class="search-btn"><i class="fa fa-search"></i></button> {% endcomment %}
                                    </div>
                                    <div class="header-mini-cart">
                                        <div class="mini-cart-btn">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="cart-notification">{{ cart_items_count|default:0 }}</span>
                                        </div>
                                        <div class="cart-total-price">
                                            <span>total</span>
                                            KES{{ cart_total|default:0.00|floatformat:2 }}
                                        </div>
                                        <ul class="cart-list">
                                            {% for item in cart_items %}
                                            <li>
                                                <div class="cart-img">
                                                    <a href="{% url 'product_detail' slug=item.product.slug %}">
                                                        <img src="{{ product.images.first.image.url }}" alt="image">
                                                    </a>
                                                </div>
                                                <div class="cart-info">
                                                    <h4><a href="{% url 'product_detail' slug=item.product.slug %}">{{ item.product.name }}</a></h4>
                                                    <span>KES{{ item.total_price|floatformat:2 }}</span>
                                                </div>
                                                <div class="del-icon">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                            </li>
                                            {% empty %}
                                            <li>
                                                <p>Your cart is empty</p>
                                            </li>
                                            {% endfor %}
                                            
                                            {% if cart_items %}
                                            <li class="mini-cart-price">
                                                <span class="subtotal">subtotal : </span>
                                                <span class="subtotal-price">KES{{ cart_subtotal|floatformat:2 }}</span>
                                            </li>
                                            <li class="checkout-btn">
                                                <a href="{% url 'cart' %}">checkout</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header middle end -->

            <!-- main menu area start -->
            <div class="main-header-wrapper bdr-bottom1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-header-inner">
                                
                               
                                <!-- Updated HTML with JavaScript -->
                                <div class="category-toggle-wrap">
                                    <div class="category-toggle-wrap">
                                        <div class="category-toggle" id="categoryToggle">
                                            All Categories
                                            <div class="cat-icon">
                                                <i class="fa fa-angle-down" id="toggleIcon"></i>
                                            </div>
                                        </div>
                                        <nav class="category-menu hm-1" id="categoryMenu" style="display: none;">
                                            <ul>
                                                {% for parent_category in parent_categories %}
                                                <li {% if parent_category in categories_with_children %}class="menu-item-has-children"{% endif %}>
                                                    <a href="{% url 'category_products' parent_category.slug %}">
                                                        {{ parent_category.name }}
                                                        <span class="product-count">({{ parent_category.products.count }})</span>
                                                    </a>
                                                    {% if parent_category in categories_with_children %}
                                                    <ul class="category-mega-menu">
                                                        {% for child in categories_with_children|get_item:parent_category %}
                                                        <li class="menu-item-has-children">
                                                            <a href="{% url 'category_products' child.slug %}">
                                                                {{ child.name }}
                                                                <span class="product-count">({{ child.products.count }})</span>
                                                            </a>
                                                            <ul>
                                                                {% comment %} 
                                                                If you need to add another level of subcategories here, 
                                                                you would add them similar to the sample structure
                                                                {% endcomment %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                                <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    const categoryToggle = document.getElementById('categoryToggle');
                                    const categoryMenu = document.getElementById('categoryMenu');
                                    const toggleIcon = document.getElementById('toggleIcon');
                                    const STORAGE_KEY = 'categoryMenuState';
                                    
                                    // Function to get saved state from localStorage
                                    function getSavedState() {
                                        try {
                                            return localStorage.getItem(STORAGE_KEY) === 'open';
                                        } catch (e) {
                                            // Fallback if localStorage is not available
                                            return false;
                                        }
                                    }
                                    
                                    // Function to save state to localStorage
                                    function saveState(isOpen) {
                                        try {
                                            localStorage.setItem(STORAGE_KEY, isOpen ? 'open' : 'closed');
                                        } catch (e) {
                                            // Silently fail if localStorage is not available
                                        }
                                    }
                                    
                                    // Function to update UI based on state
                                    function updateUI(isOpen) {
                                        if (isOpen) {
                                            categoryMenu.style.display = 'block';
                                            toggleIcon.classList.remove('fa-angle-down');
                                            toggleIcon.classList.add('fa-angle-up');
                                            categoryToggle.classList.add('active');
                                        } else {
                                            categoryMenu.style.display = 'none';
                                            toggleIcon.classList.remove('fa-angle-up');
                                            toggleIcon.classList.add('fa-angle-down');
                                            categoryToggle.classList.remove('active');
                                        }
                                    }
                                    
                                    // Function to toggle the menu
                                    function toggleMenu() {
                                        const isCurrentlyOpen = categoryMenu.style.display === 'block';
                                        const newState = !isCurrentlyOpen;
                                        
                                        updateUI(newState);
                                        saveState(newState);
                                    }
                                    
                                    // Initialize the menu state on page load
                                    function initializeMenu() {
                                        const savedState = getSavedState();
                                        updateUI(savedState);
                                    }
                                    
                                    // Add click event listener to toggle
                                    categoryToggle.addEventListener('click', function(e) {
                                        e.preventDefault();
                                        e.stopPropagation();
                                        toggleMenu();
                                    });
                                    
                                    // Optional: Close menu when clicking outside
                                    document.addEventListener('click', function(e) {
                                        if (!categoryToggle.contains(e.target) && !categoryMenu.contains(e.target)) {
                                            const isCurrentlyOpen = categoryMenu.style.display === 'block';
                                            if (isCurrentlyOpen) {
                                                updateUI(false);
                                                saveState(false);
                                            }
                                        }
                                    });
                                    
                                    // Initialize menu state
                                    initializeMenu();
                                });
                                </script>
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="active">
                                                <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                                            </li>
                                            <li class="active">
                                                <a href="{% url 'product_list' %}"><i class="fa fa-store"></i> Shop</a>
                                            </li>
                                            <li class="static">
                                                <a href="#"><i class="fa fa-question-circle"></i> Help</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-blog"></i> Blog</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope"></i> Contact Us</a>
                                            </li>
                                        </ul>

                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main menu area end -->